@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #191922;
  --accent: #FF5733;
  --accent-light: #FF57334D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --font-sans: var(--font-inconsolata);
  --font-mono: var(--font-inconsolata);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inconsolata), monospace;
}

::selection {
  background: var(--accent-light);
}
